<div class="container-fluid steps py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize text-white mb-3">Araç Kiralama<span class="text-primary"> Süreci</span></h1>
            <p class="mb-0 text-white">
                Araç kiralama süreciniz sadece birkaç adımda tamamlanır. Bize ulaşın, aracınızı seçin ve yolculuğun keyfini çıkarın.
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="steps-item p-4 mb-4">
                    <h4>İletişime Geçin</h4>
                    <p class="mb-0">Sorularınız ve rezervasyon talepleriniz için bizimle kolayca iletişim kurun.</p>
                    <div class="setps-number">01.</div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="steps-item p-4 mb-4">
                    <h4>Bir Araç Seçin</h4>
                    <p class="mb-0">İhtiyacınıza en uygun aracı geniş araç yelpazemizden yapay zeka asistanımız ile seçin</p>
                    <div class="setps-number">02.</div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="steps-item p-4 mb-4">
                    <h4>Sürüşün Keyfini Çıkarın</h4>
                    <p class="mb-0">Rezervasyon sonrası güvenle aracınızı kullanın ve yolculuğun tadını çıkarın.</p>
                    <div class="setps-number">03.</div>
                </div>
            </div>
        </div>
    </div>
</div>