@model List<DemoDayCQRSProject.CQRS.Results.WorkerResult.GetWorkerQueryResult>  
@{
    ViewData["Title"] = "WorkerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Çalışan Adı Soyadı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.WorkerId</td>
                <td>@item.WorkerNameSurname</td>
                <td><a href="/Worker/DeleteWorker/@item.WorkerId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Worker/UpdateWorker/@item.WorkerId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Worker/CreateWorker/" class="btn btn-info">Yeni Çalışan Girişi</a>
</div>



